<p>
User show page - http://localhost:3000 /users/:id
</p>
<p>
Clicking the user’s name either on the root page or album page will take you to the user page
displaying all of that user’s data, including a list of the album titles they have in the system each
of which will link to the corresponding album show page (above).
</p>
<p>
☆☆ Super duper quadruple whammy “oh my god why did you waste your time doing this
Maverick but I guess that’s the kind of developer you are, wow that’s awesome I wish I
was just like you” extra credit, by making use of as much of the user data as possible like
a google map to show the user’s address with a pin, all nice a pretty like.
</p>
