




<p> App root page (albums index) - http://localhost:3000
</p>
<p>
    The root page must display all 100 albums with the title, thumbnail and user (owner) name.
</p>
<p>
    ★ Extra credit if the albums are paginated, 10 per “page”.
</p>
<p>
    ☆ Super duper double whammy extra credit if pagination is done server side (this means Javascript will ask the Rails backend for a particular page of the data and Rails will return it).
</p>


<p>
    Album show page - http://localhost:3000 /albums/:id
</p>
<p>
    Clicking an album will take you to that albums page displaying all the photos and the user’s (owner) name, and contact details.
</p>
<p>
    ★ Extra credit if the photos are paginated, 10 per “page”.
</p>
<p>
    ☆ Super duper double whammy extra credit if pagination is done server side (this means Javascript will ask the Rails backend for a particular page of the data and Rails will return it).
</p>